body {
    --backdrop: linear-gradient(0deg, #eaeaeafb 20%, #f9f9f9fb 40%, #ffffff);
    --calc-backdrop: linear-gradient(0deg, #f9f9f9fb 10%, #fdfdfdfb 15%, #ffffff);
    --calc-border: 1px solid #f9f9f9fb;
    --calc-shadow: 5px 5px 10px #0000001a;
    --disp-border: 1px solid rgb(228, 223, 223);
    --disp-text: #000000a8;
    --button-color: #fdfdfd;
    --button-border: 1px solid #f8f8f8fb;
    --button-shadow: 2px 2px 3px #5252521a;
    --button-text: #000000;
    --label-border: 1px solid #9e9e9e42;
    --ball: #ffffff;
    --ball-border: 2px solid #f8f8f8fb;
    --ball-shadow: 2px 2px 3px #5252521a;

    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    background: var(--backdrop);
}

.dark {
    --backdrop: linear-gradient(0deg,  #1D1C1B 20%,  #1F211F 40%, #383838);
    --calc-backdrop: linear-gradient(0deg,  #202020 20%,  #242424 35%, #2c2c2c);
    --calc-shadow: 5px 5px 10px #000000;
    --calc-border: 1px solid #171717;
    --disp-border:1px solid #3d3d3d;
    --disp-text: #f1f1f1a8;
    --button-color: #44444423;
    --button-border: 1px solid #0c0c0cfb;
    --button-shadow: 2px 2px 3px #0a0a0ad3;
    --button-text: #f3f3f3;
    --label-border: 1px solid #6b6b6b;
    --ball: #414141;
    --ball-border: 2px solid #5252521a;
    --ball-shadow: 2px 2px 3px #0f0f0ffb;
}

.calculator {
    margin: auto;
    width: max-content;
    height: max-content;
    border: var(--calc-border);
    border-radius: 25px;
    background: var(--calc-backdrop);
    box-shadow: var(--calc-shadow);
    position: relative;
    top: 10%;
}

.control-panel {
    width: inherit;
    height: 2.5rem;
    margin-bottom: 25px;
}

label {
    width: 54px;
    height: 27px;
    padding: 2px;
    border: var(--label-border); 
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 280px;
}

.ball {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: var(--ball-border); 
    box-shadow: var(--ball-shadow);
    background-color: var(--ball);
    position: absolute;
    z-index: 1;
    transition: transform 0.15s linear;
} 

.sun {
    color: rgb(235, 134, 103);
}

.moon {
    color: rgb(245, 226, 121);
}
.switch {
    opacity: 0;
    position: relative;
    left: 280px;
}
.switch:checked + .label .ball{
    transform: translateX(25px);
}

#display {
    width: 20rem;
    height: 5rem;
    border: var(--disp-border);
    border-radius: 7px;
    margin: 2px auto;
}

.input {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0;
}

.output {
    font-size: 2.8rem;
    margin: 0;    
}
.right {
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    color: var(--disp-text);
}

.buttons {
    margin: 20px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 5px;
}

.button {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: var(--button-border);
    box-shadow: var(--button-shadow);
    background-color: var(--button-color);
    color: var(--button-text);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;  
    font-weight: 300; 
}

#equal {
    width: 10rem;
    border-radius: 50px;
    grid-column: 3 / span 2;
}

@media (max-width: 375px) {
    html {
        font-size: 15px;
    }
    .calculator {
        top: 5%;
    }

    .label {
        left: 260px;
    }
}

