body {
    box-sizing: border-box;
    overflow: hidden;
}
.calculator {
    margin: auto;
    width: max-content;
    height: max-content;
    border: 1px solid black;
}

#display {
    width: 20rem;
    height: 5rem;
    border: 1px solid black;
    margin: 2px auto;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
    width: 5rem;
    height: 5rem;
}

.bot-buttons {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

#zero {
    width: 10rem;
}




